<div id="wrapper" class="singn_in_body">
  <%= render "layouts/header" %>
<% if current_user.present? %>
      <div class="dashbord">

    <h3><span class="label">IDEAS</span></h3>
    <!--<span class="ideaSelectBox"><%#= select_tag "Filter", options_for_select(["All Ideas", "My Ideas", "Top 5 Ideas" ], "My Ideas"),:class=>"selectFilter" %></span>-->
    <% @ideas.each do |i| %>
        <div class="ideaList">
          <div>
            <h3><%= i.name %></h3>
            <p><%= i.description %></p>
          </div>
          <%= link_to "view", idea_path(i.id) , :class => "blue_btn btn-primary btn-large" %>
          <div class="clear"></div>
        </div>
    <% end %>


    <ul class="pagination">
      <%= will_paginate @ideas,:class => "customPagination" %>
    </ul>
<% else %>
      <section class="mainBg">
      </section>

      <footer class="footer">
      </footer>
<% end %>
  </div>
    </div>
