<div id="wrapper" class="singn_in_body">
  <%= render "layouts/header" %>
<% if current_user.present? %>
      <div class="dashbord">
    <h2>Idea Portal</h2>
    <%= link_to "Post Your Idea", new_idea_path %>
    <%= link_to "View Ideas", show_ideas_ideas_path %>
    <%= link_to "My Ideas", show_ideas_ideas_path(:rel=>"my_ideas") %>

    <h3><span class="label">IDEAS</span></h3>
    <!--<span class="ideaSelectBox"><%#= select_tag "Filter", options_for_select(["All Ideas", "My Ideas", "Top 5 Ideas" ], "My Ideas"),:class=>"selectFilter" %></span>-->
    <% @ideas.each do |i| %>
        <div class="ideaList">
          <div>
            <div class="ideaName">
                <h3 style="float: left;"><%= i.name %></h3>
                <span class="label label-success">Likes :<%= Like.total_likes(i).count %></span>
            </div>
            <div style="clear:both;"></div>
            <p><%= i.description %></p>
          </div>
          <%= link_to "view", idea_path(i.id) , :class => "blue_btn btn-primary btn-large" %>
          <div class="clear"></div>
        </div>
    <% end %>


    <ul class="pagination">
      <%= will_paginate @ideas,:class => "customPagination" %>
    </ul>
<% else %>
      <section class="mainBg">
      </section>

      <footer class="footer">
      </footer>
<% end %>
  </div>
    </div>
