 <%= content_for :head do  %>
    <script type="text/javascript">
        $(document).ready(function(){
            $(".showComments").click(function(){
                $("#commentForm").show();
            });

        // after like increase the like in db
        $(".increaseLikes").click(function(){
            var id = $(this).attr("rel");
            var text = $(this).text();
            $.ajax({
               type: 'POST',
               url: '/ideas/'+id+'/increase_likes',
               data:{id:id,text:text},
               dataType: 'script'
            }).done(function() {
              $(".likeLinks .increaseLikes").remove();
              $(".likeLinks").append('<a rel="'+ id +'" id="decreaseLike" class="btn btn-primary decreaseLike" href="javascript:void(0)">Unlike</a>');
              // alert("You have liked this Idea");
            });
        })

        // after unlike delete the like from db
        $(".decreaseLike").click(function(){
            var id = $(this).attr("rel");
            var text = $(this).text();
            $.ajax({
               type: 'POST',
               url: '/ideas/'+id+'/delete_like',
               data:{id:id,text:text},
               dataType: 'script'
            }).done(function() {
              $(".likeLinks .decreaseLike").remove();
              $(".likeLinks").append('<a rel="'+ id +'" id="increaseLikes" class="btn btn-primary increaseLikes" href="javascript:void(0)">Like</a>');
              // alert("You have Unliked this Idea");
            });
        })

      });
    </script>
<%end%>
<div id="wrapper">
  <%= render "layouts/header" %>
<div class="showDetails form-horizontal">
  <div class="control-group small ">
      <label class="control-label" for="inputEmail">Name :</label>
    <div class="controls ">
      <%= @idea.name %>
    </div>
  </div>
  <div class="control-group ">
      <label class="control-label" for="inputEmail">Category :</label>
    <div class="controls">
      <%= get_category(@idea.category_id)%>
    </div>
  </div>
  <div class="control-group small">
      <label class="control-label" for="inputEmail">Description :</label>
    <div class="controls">
      <%= @idea.description %>
    </div>
  </div>
  <div class="control-group small">
      <label class="control-label" for="inputEmail">How to Usefull :</label>
    <div class="controls">
      <%= @idea.how_usefull %>
    </div>
  </div>
  <div class="control-group small likeLinks">
    <% if @idea.user_id != current_user.id %>
        <% if find_like(current_user.id,@idea.id).present? %>
            <%= link_to "Unike", "javascript:void(0)",:class=>"btn btn-primary decreaseLike",:rel =>@idea.id   %>
        <% else %>
            <%= link_to "Like", "javascript:void(0)",:class=>"btn btn-primary increaseLikes",:rel =>@idea.id   %>
        <% end %>
    <% else %>
        <%= link_to "Edit", edit_idea_path,:class=>"btn btn-primary"   %>
        <%= link_to "Delete", delete_idea_idea_path(@idea),:class=>"btn btn-primary"   %>
    <% end %>
  </div>
</div>


<div id="viewComments">
  <%= render :partial => "comment" %>
  <div class="linkClick">
    <%= link_to "Add comments", "javascript:void(0)",:class =>"showComments"%>
  </div>
</div>
<div id="commentForm" style="display: none">
  <%= form_for @comment,:url=> create_comment_idea_path ,:method => "post",:remote => true  do |f| %>
      <div class="field">
        <%= f.label :Post_your_comment_here %><br />
        <%= f.text_area :description,:rows => 3,:id=>"new_comment" %>  <br/>
      </div> <br />

      <div class="actions">
        <%= f.submit :id=>"add_comment" %>
      </div>
  <% end %>
</div>

</div>
