<div id="wrapper">
  <%= render "layouts/header" %>
  <% if !params[:rel].present? %>
    <div class="ideaTab">
        <%= link_to "Cultural Ideas",categoriwise_idea_ideas_path(:type=>"Cultural"),:class=>"btn btn-primary"%>
        <%= link_to "Technical Ideas",categoriwise_idea_ideas_path(:type=>"Technical"),:class=>"btn btn-primary"%>
        <%= link_to "General Ideas",categoriwise_idea_ideas_path(:type=>"General"),:class=>"btn btn-primary"%>
    </div>
  <% end %>
  <div id="displayIdea">
    <% @ideas.each do |i| %>
        <div class="ideaList">
          <div>
            <h3><%= i.name %></h3>
            <p><%= i.description %></p>
          </div>
          <%= link_to "view", idea_path(i.id) , :class => "blue_btn btn-primary btn-large" %>
          <div class="clear"></div>
        </div>
    <% end %>
    <ul class="pagination">
      <%= will_paginate @ideas,:class => "customPagination" %>
    </ul>
  </div>
</div>