<div class="showDetails">
<div class="control-group small ">
      <div>
        <label class="control-label" for="inputEmail">Name :</label>
      </div>
      <div class="controls ">
        <%= @idea.name %>
      </div>
    </div>
    <div class="control-group ">
      <div class="pull-left">
        <label class="control-label" for="inputEmail">Category :</label>
      </div>
      <div class="controls">
        <%= get_category(@idea.category_id)%>
      </div>
    </div>
    <div class="control-group small">
      <div class="pull-left">
        <label class="control-label" for="inputEmail">Description :</label>
      </div>
      <div class="controls">
        <%= @idea.description %>
      </div>
    </div>
    <div class="control-group small">
      <div class="pull-left">
        <label class="control-label" for="inputEmail">How to Usefull :</label>
      </div>
      <div class="controls">
        <%= @idea.how_usefull %>
      </div>
    </div>
  <div class="control-group small">
    <%= link_to "Like", "javascript:void(0)",:class=>"btn btn-primary increaseLikes",:rel =>@idea.id   %>
  </div>
</div>


<div id="viewComments"><%= render :partial => "comment" %></div>
<%= link_to "Add comments", "javascript:void(0)",:class =>"showComments"%>
<div id="commentForm" style="display: none">
  <%= form_for @comment,:url=> create_comment_idea_path ,:method => "post",:remote => true  do |f| %>
      <div class="field">
        <%= f.label :Post_your_comment_here %><br />
        <%= f.text_area :description,:rows => 3,:id=>"new_comment" %>  <br/>
      </div> <br />

      <div class="actions">
        <%= f.submit :id=>"add_comment" %>
      </div>
  <% end %>
</div>

 <%= content_for :head do  %>
    <script type="text/javascript">
        $(document).ready(function(){
            $(".showComments").click(function(){
                $("#commentForm").show();
            });
        });

        $(".increaseLikes").click(function(){
            var id = $(this).attr("rel");
            var text = $(this).text();
            if(text == "Like"){
                $(this).text("Unlike");
            }
            else{
                $(this).text("Link");
            }

            alert(id);
            $.ajax({
               type: 'POST',
               url: '/ideas/'+id+'/increase_likes',
               data:{id:id,text:text},
               dataType: 'script'
           })
        })
    </script>
<%end%>