<div id="wrapper">
  <%= render "layouts/header" %>
  <div class="showDetails form-horizontal">
    <div class="control-group small ">
      <label class="control-label" for="inputEmail">Name :</label>
      <div class="controls ">
        <%= @idea.name %>
      </div>
    </div>
    <div class="control-group ">
      <label class="control-label" for="inputEmail">Category :</label>
      <div class="controls">
        <%= get_category(@idea.category_id)%>
      </div>
    </div>
    <div class="control-group small">
      <label class="control-label" for="inputEmail">Description :</label>
      <div class="controls">
        <%= @idea.description %>
      </div>
    </div>
    <div class="control-group small">
      <label class="control-label" for="inputEmail">How to Usefull :</label>
      <div class="controls">
        <%= @idea.how_usefull %>
      </div>
    </div>
    <div class="control-group small">
      <label class="control-label" for="inputEmail">Likes :</label> This idea got <%= @total_likes %> likes
    </div>
  </div>


  <div id="viewComments">
    <div id="comments">
    <div>
      <strong>Comments:</strong>
      <% if @comments.present?  %>
      <% @comments.each do |comment| %>
        <p class="comments"><%= comment.description %></p>
      <%end %>
      <% else %>
      No comments Yet
      <% end %>
    </div>

    </div>
  </div>

</div>
